*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ddd;
  --secondary: #e5d4d4;
}

body {
  background-color: bisque;
}

.main {
  margin: 300px auto;
    background-color: white;
    padding: 30px;
width: 80%;
}

.scores-div {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.leaderboard {
  padding: 10px 140px;
  font-size: 60px;
  font-family: 'Patrick Hand', cursive;
}

.score-list {
  border: 2px solid black;
  list-style-type: none;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
}

.no-border {
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}

.add-score,
.recent-scores {
  padding: 30px 0;
  font-size: 35px;
  font-family: 'Patrick Hand', cursive;
}

li {
  padding: 10px 5px;
}

li:nth-child(even) {
  background-color: #ddd;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.scoreboard {
  width: 35%;
}

.input {
  border: 3px solid black;
  padding: 10px;
  font-size: 17px;
  font-family: 'Patrick Hand', cursive;
  border-radius: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-btn,
.reset-btn {
  border: 3px solid black;
  padding: 10px;
  margin-left: auto;
  font-size: 18px;
  background-color: #fff;
  font-family: 'Patrick Hand', cursive;
  box-shadow: 2px 2px 1px;
  background-color: teal;
    color: white;
}

.reset-btn {
  width: 35%;
  height: 45px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(120, end) infinite,
    blink-caret .75s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  50% { width: 100% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.row {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  flex-wrap: wrap;
}

.col-md-12,
.col-md-6 {
  width: 100%;
}